html,
body {
  @import url("https://fonts.googleapis.com/css?family=Lato");
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgb(227, 224, 228);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(121, 27, 116);
  border-radius: 10px;
}

h2 {
  font-size: 17px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.channel-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  width: 59.99%;
  font-size: 15px;
  height: 100vh;
  line-height: 1.4em;
}

.channel-header {
  display: flex;
  flex-shrink: 0;
  height: 90px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px rgb(226, 228, 230) solid;
}

.channel-title-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  /* align-content: center; */
}

.channel-drawer-icon {
  /* background-color: blue; */
  margin-right: 10px;
}

.channel-drawer-icon > div {
  width: 20px;
  height: 3px;
  background-color: rgb(32, 27, 32);
  margin: 3px 2px;
}

.header-title {
  margin-bottom: 0px;
  padding-left: 17px;
  /* background-color: red; */
}

.header-subtitle {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: rgb(115, 114, 133);
  padding-left: 20px;
}

.channel-topic {
  margin-left: 10px;
}

.channel-topic::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgb(226, 228, 230);
  color: green;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/****************************************
* Members Section
*/

.channel-members-wrapper {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  border-left: 2px rgb(226, 228, 230) solid;
}

.channel-members {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  padding-left: 20px;
  padding-top: 20px;
}

.aside-user-item {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.aside-user-item::before {
  content: "";
  height: 7px;
  width: 7px;
  background-color: green;
  /* border: 3px green solid; */
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

/****************************
/* Nav Section 
*/

.nav-wrapper {
  background-color: #3e103f;
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  text-align: start;
  border-right: 2px rgb(136, 148, 175) solid;
  height: 100vh;
  flex-basis: 250px;
  transition: all 0.5s ease-in-out;
}

nav {
  padding-left: 10px;
  /* padding-top: 5px; */
  display: flex;
  flex-direction: column;
}

.nav-user-info {
  display: flex;
  direction: row;
  align-items: flex-start;
  padding: 10px 10px;
  border-bottom: 2px rgb(84, 71, 92) solid;
}

.nav-user-avatar {
  border-radius: 6px;
  width: 50px;
  height: auto;
}

.nav-user-col {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.nav-user-name {
  color: white;
  font-weight: 600;
  font-size: 0.9em;
}

.nav-user-logout {
  text-decoration: none;
  color: rgb(146, 127, 153);
  padding-top: 3px;
}

.channel-nav-item {
  color: rgb(128, 126, 158);
  font-size: 15px;
  text-decoration: none;
  margin-top: 8px;
}

.active-channel {
  color: white;
}

.nav-section-title {
  color: white;
}

.body-channel-name {
  position: relative;
  top: 0;
  left: 0;
}

.channel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.channel-messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  overflow: hidden;
}

.message-wrapper {
  padding: 4px 20px;
}

.messages-container {
  /* min-height: 0; */
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages-form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  flex-basis: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.message-input {
  width: 90%;
  height: 50px;
  max-height: 200px;
  border-radius: 4px;
  border: 1.2px rgb(149, 154, 165) solid;
  font-size: 15px;
  padding: 15px 15px;
  resize: none;
  overflow-y: scroll;
}

.message-input::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(195, 201, 214);
}

.message-input::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(136, 115, 146);
  border-radius: 8px;
}

.message-input:focus {
  border: 1.3px rgb(120, 125, 136) solid;
  background-color: rgb(248, 248, 248);
  outline: none;
}

.first-message-item {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.sub-message-item {
  display: flex;
  flex-direction: row;
}

.message-avatar {
  width: 36px;
  height: 36px;
  border-radius: 12%;
  justify-content: center;
  align-items: center;
}

.message-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.first-message-header {
  margin-left: 8px;
}

.frist-message-author {
  font-weight: 800;
}

.frist-message-time {
  font-size: 0.88em;
  color: rgb(128, 127, 155);
  vertical-align: baseline;
}

.message-date {
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 500;
  margin: auto 0;
  min-width: 36px;
  width: 36px;
  visibility: visible;
  color: rgb(128, 127, 155);
  line-height: 1.6em;
}

.sub-message-time-hidden {
  visibility: hidden;
}

.message-content {
  margin: inherit;
  margin-left: 10px;
  white-space: pre-wrap;
  font-size: 1.05em;
}

.selected-message {
  background-color: rgb(243, 243, 243);
}

.message-day-seperator {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  margin: 0;
  padding: 0;
}

.message-day-seperator > div {
  flex: 1;
  height: 0.05rem;
  background-color: rgb(211, 211, 211);
  border-radius: 3px;
}
.message-day-seperator > p {
  padding: 3px 20px;
  font-weight: 700;
  font-size: 0.9em;
  color: rgb(85, 85, 85);
  border-radius: 40px;
  border: 1px rgb(211, 211, 211) solid;
  box-shadow: -1px 1px 7px rgb(233, 233, 233);
  margin: 8px auto;
}

/**************************
// Sigin Page */

.app-signin-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}
.signin-card {
  float: 1;
  width: 500px;
  height: 500px;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
}

.google-signin-button {
  width: 50%;
}

/**********************************
* Media Queries 
*/

@media screen and (max-width: 420px) {
  .nav-wrapper {
    position: absolute;
    left: -200px;
  }

  .nav-visible {
    left: 0;
  }

  .channel-members-wrapper {
    position: fixed;
    right: -500px;
  }

  .channel-drawer-icon {
    visibility: visible;
  }

  .channel-drawer-icon > div {
    width: 18px;
    height: 3px;
    background-color: rgb(32, 27, 32);
    margin: 3px 2px;
  }

  .header-title {
    padding-left: 5px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
