html,
body {
  @import url("https://fonts.googleapis.com/css?family=Lato");
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h2 {
  font-size: 17px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-center {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 59.99%;
  font-size: 15px;
  height: 100vh;
  line-height: 1.4em;
}

.channel-header {
  display: flex;
  flex-shrink: 0;
  height: 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px rgb(226, 228, 230) solid;
  padding-left: 20px;
}

.header-title {
  margin-bottom: 0px;
}

.header-subtitle {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: rgb(115, 114, 133);
}

.channel-topic {
  margin-left: 10px;
}

.channel-topic::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgb(226, 228, 230);
  color: green;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.App-aside {
  width: 19.99%;
  display: flex;
  flex-direction: column;
  border-left: 2px rgb(226, 228, 230) solid;
  text-align: start;
  justify-content: start;
  padding-left: 20px;
  padding-top: 20px;
}

.aside-user-item {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.aside-user-item::before {
  content: "";
  height: 7px;
  width: 7px;
  background-color: green;
  /* border: 3px green solid; */
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

/* Replace with breathing animation 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  background-color: #3e103f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding-left: 10px;
  padding-top: 10px;
  border-right: 2px rgb(136, 148, 175) solid;
  height: 100vh;
  width: 19.99%;
}

.channel-nav-item {
  color: rgb(128, 127, 155);
  font-size: 15px;
  text-decoration: none;
  margin-top: 5px;
}

.active-channel {
  color: white;
}

.nav-section-title {
  color: white;
}

.body-channel-name {
  position: relative;
  top: 0;
  left: 0;
}

.channel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.channel-messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}

.messages-container {
  min-height: 0;
  text-align: start;
  padding-left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages-form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  flex-basis: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.message-input {
  width: 90%;
  height: 50px;
  max-height: 200px;
  border-radius: 4px;
  border: 1.2px rgb(149, 154, 165) solid;
  font-size: 15px;
  padding: 15px 15px;
  resize: none;
  overflow-y: scroll;
}

.message-input::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(195, 201, 214);
}

.message-input::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(136, 115, 146);
  border-radius: 8px;
}

.message-input:focus {
  border: 1.3px rgb(120, 125, 136) solid;
  background-color: rgb(248, 248, 248);
  outline: none;
}

.first-message-item {
  display: flex;
  flex-direction: row;
}

.sub-message-item {
  display: flex;
  flex-direction: row;
}

.message-avatar {
  width: 36px;
  height: 36px;
  border-radius: 12%;
  justify-content: center;
  align-items: center;
}

.message-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.first-message-header {
  /* background-color: red; */
  margin-left: 8px;
  font-size: 15px;
}

.frist-message-author {
  font-weight: 800;
}

.first-message-time {
  padding-left: 5px;
  font-size: 0.9em;
  color: rgb(128, 127, 155);
  vertical-align: baseline;
}

.message-date {
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 500;
  margin: auto 0;
  min-width: 36px;
  width: 36px;
  visibility: visible;
  color: rgb(128, 127, 155);
  line-height: 1.6em;
}

.sub-message-time-hidden {
  visibility: hidden;
}

.message-content {
  margin: inherit;
  margin-left: 10px;
  white-space: pre-wrap;
}

.message-wrapper {
  padding: 4px 20px;
}

.selected-message {
  background-color: rgb(243, 243, 243);
}
