html,
body {
  @import url("https://fonts.googleapis.com/css?family=Lato");
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 20px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-center {
  width: 59.99%;
  padding-left: 20px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px rgb(226, 228, 230) solid;
  padding-top: 10px;
}

.header-title {
  margin-bottom: 0px;
}

.header-subtitle {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: rgb(115, 114, 133);
}

.channel-topic {
  margin-left: 10px;
}

.channel-topic::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgb(226, 228, 230);
  color: green;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.App-main {
  justify-content: start;
  text-align: start;
  padding-left: 20px;
}

.App-aside {
  width: 19.99%;
  display: flex;
  flex-direction: column;
  border-left: 2px rgb(226, 228, 230) solid;
  text-align: start;
  justify-content: start;
  padding-left: 20px;
  padding-top: 20px;
}

.aside-user-item {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.aside-user-item::before {
  content: "";
  height: 5px;
  width: 5px;
  background-color: white;
  border: 3px green solid;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/* Replace with breathing animation 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  background-color: #3e103f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding-left: 10px;
  padding-top: 10px;
  border-right: 2px rgb(136, 148, 175) solid;
  height: 100vh;
  width: 19.99%;
}

.channel-nav-item {
  color: rgb(128, 127, 155);
  font-size: 18px;
  text-decoration: none;
  margin-top: 5px;
}

.active-channel {
  color: white;
}

.nav-section-title {
  color: white;
}

.body-channel-name {
  position: relative;
  top: 0;
  left: 0;
}

.chat-messages-form {
}
